<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".presentation.KerdyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emmsale"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity android:name=".presentation.ui.eventSearch.EventSearchActivity" />
        <activity android:name=".presentation.ui.feedDetail.FeedDetailActivity" />
        <activity
            android:name=".presentation.ui.messageList.MessageListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.ui.postWriting.PostWritingActivity" />
        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Emmsale.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.myPostList.MyPostActivity" />
        <activity android:name=".presentation.ui.notificationTagConfig.NotificationTagConfigActivity" />
        <activity android:name=".presentation.ui.myCommentList.MyCommentsActivity" />
        <activity android:name=".presentation.ui.blockMemberList.MemberBlockActivity" />
        <activity android:name=".presentation.ui.notificationConfig.NotificationConfigActivity" />
        <activity android:name=".presentation.ui.recruitmentWriting.RecruitmentPostWritingActivity" />
        <activity android:name=".presentation.ui.recruitmentDetail.RecruitmentPostDetailActivity" />
        <activity android:name=".presentation.ui.editMyProfile.EditMyProfileActivity" />
        <activity android:name=".presentation.ui.profile.ProfileActivity" />
        <activity android:name=".presentation.ui.notificationPageList.NotificationBoxActivity" />
        <activity android:name=".presentation.ui.childCommentList.ChildCommentActivity" />
        <activity android:name=".presentation.ui.useTerm.UseTermWebViewActivity" />
        <activity android:name=".presentation.ui.conferenceFilter.ConferenceFilterActivity" />
        <activity android:name=".presentation.ui.competitionFilter.CompetitionFilterActivity" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".presentation.ui.onboarding.OnboardingActivity" />
        <activity android:name=".presentation.ui.eventDetail.EventDetailActivity" />
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Emmsale.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github-auth"
                    android:scheme="kerdy" />
            </intent-filter>
        </activity>

        <service
            android:name=".presentation.service.KerdyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
